* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

.posts img{
  max-width: 100%;
  height: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 5px;
}
.posts img:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* Zoom In #1 */
.imgHover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.imgHover:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.sectionSlide{
  width: calc(100vw - 300px);
  height: 100vh;
  position: relative;
}

.sectionSlide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
.sectionSlide .slideItemContent{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto
}

.sectionSlide .slideItemContent .slideItemDescrition{
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.sectionSlide .slideItemContent .slideItemTitle{
  color: #F2B879;
  font-size: 46px;
  font-weight: 900;
  text-align: center;
  line-height: 1.1;
  margin-top: 10px;
}

.sectionSlide .slideItems::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}

.sectionSlide .swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  background-color: #fff;
}
.sectionSlide .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #F2B879;
}
.sectionSlide .slideButton{
  background: rgb(255,218,178);
  background: linear-gradient(90deg, rgba(255,218,178,1) 0%, rgba(242,184,121,1) 100%);
  width: 200px;
  height: 50px;
  border-radius: 16px;
  margin-top: 30px;
  position: relative;
}

.sectionSlide .slideButton::before{
  content: "";
  position: absolute;
  top:-5px;
  left: -5px;
  width: 210px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 16px;
  -webkit-animation: white 1s infinite;
  -moz-animation: white 1s infinite;
  -o-animation: white 1s infinite;
  animation: white 1s infinite;
}

/* White Shadow */
@-moz-keyframes white {
  0%, 100% {
    -moz-box-shadow: 1px 0px 19px 4px rgba(255, 255, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5);
    box-shadow: 1px 0px 19px 4px rgba(255, 255, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); }

  50% {
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }

@-webkit-keyframes white {
  0%, 100% {
    -webkit-box-shadow: 1px 0px 19px 4px rgba(255, 255, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5);
    box-shadow: 1px 0px 19px 4px rgba(255, 255, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); }

  50% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }

@-o-keyframes white {
  0%, 100% {
    box-shadow: 1px 0px 19px 4px rgba(255, 255, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }

@keyframes white {
  0%, 100% {
    box-shadow: 1px 0px 7px 2px rgba(255, 255, 255, 0.7), inset 0px 0px 6px rgba(255, 255, 255, 0.5); }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }


    .play-btn {
      width: 100px;
      height: 100px;
      background: radial-gradient( rgba(255, 0, 0, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
      border-radius: 50%;
      position: relative;
      display: block;
      margin: 100px auto;
      box-shadow: 0px 0px 25px 3px rgba(255, 0, 0, 0.8);
      z-index: 3;
    }
    
    /* triangle */
    .play-btn::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-40%) translateY(-50%);
      transform: translateX(-40%) translateY(-50%);
      transform-origin: center center;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 25px solid #fff;
      z-index: 100;
      -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    
    /* pulse wave */
    .play-btn:before {
      content: "";
      position: absolute;
      width: 150%;
      height: 150%;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation: pulsate1 2s;
      animation: pulsate1 2s;
      -webkit-animation-direction: forwards;
      animation-direction: forwards;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: steps;
      animation-timing-function: steps;
      opacity: 1;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, .75);
      top: -30%;
      left: -30%;
      background: rgba(198, 16, 0, 0);
    }
    
    @-webkit-keyframes pulsate1 {
      0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    
      }
    }
    
    @keyframes pulsate1 {
      0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
      }
      100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    
      }
    }

    .bookingSection{
      background: url('/assets/bg-booking.jpg');
      background-size: cover;
      position: relative;
      overflow: hidden;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .bookingSection::before{
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgb(0,0,0,0.7);
    }
    .bookingSection ul{
      padding-left: 20px;
    }
    .bookingSection ul li{
      color: #fff;
      font-weight: 900;
      font-size: 18px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

.post .title{
  color: #222;
  transition: 0.3s all;
}
.post .title:hover{
  color: #C19D60
}

.MuiBreadcrumbs-li{
  font-size: 14px;
}
.MuiBreadcrumbs-li a:hover{
  color: #C19D60
}
.img-thumbnail{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-thumbnail:hover{
  -webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.postContent{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}
.postContent p{
  padding: 10px 0;
}

@media (max-width: 720px){
  .img-thumbnail{
    height: 300px;
  }
  .imgHover{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}